{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2019,
      "sourceType": "module",
      "project": "tsconfig.json"
    },
    "ignorePatterns": ["src/migrations/", "src/assets", "build", "coverage", "entry.test.js"],
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
      "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
      "prettier", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
      "plugin:prettier/recommended" // Enables eslint-plugin-prettier and eslint-config-prettier. This will display prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
    ],
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "tabWidth": 2,
          "semi": true,
          "singleQuote": true,
          "trailingComma": "es5",
          "printWidth": 120,
          "endOfLine": "auto",
          "arrowParens": "always"
        }
      ],
      "arrow-parens": "warn",
      "prefer-template": 1,
      "no-console": 0,
      "no-return-await": 1,
      "require-await": "off",
      "no-unused-expressions": "off",
      "no-var": "error",
      "no-empty-function": "off",
      "no-else-return": "warn",
      "no-unreachable": "warn",
      "no-useless-catch": "off",
      "no-prototype-builtins": "off",
      "@typescript-eslint/no-var-requires": 0,
      "@typescript-eslint/explicit-module-boundary-types": "off",
      "@typescript-eslint/ban-types": "off",
      "@typescript-eslint/no-inferrable-types": "warn",
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-floating-promises": "error",
      "@typescript-eslint/consistent-type-imports": ["warn", {
        "prefer": "type-imports",
        "fixStyle": "inline-type-imports"
      }]
    }
  }